body {
    font-family: 'Roboto Mono', monospace;
    background-color: #121212;
    color: #88A1C7FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin: 0;
}
.container {
    text-align: center;
width: 100%; /* Default to full width */
max-width: 960px; /* Maximum width to maintain design integrity */
margin: auto; /* Center container on the page */
padding: 0 20px; /* Padding for some breathing room */
}
label {
    display: block;
    margin: 20px 0 10px;
}
input, button, pre, span.slive, span.sdead {
  align-items: center;
  width: 50%;
    padding: 8px;
    margin-top: 5px;
}
.live, .dead {
text-align: left;
white-space: nowrap;
overflow-x: auto;
display: block;
width: 100%;
overflow-x: scroll;
  scrollbar-width: none;
 -ms-overflow-style: none;
}
input, pre {
  text-align: center;
   width: 50%;
    background-color: #121212;
    border: 1px solid #ffffff;
    color: #88A1C7FF;
}
button {
   width: 30%;
    background-color: #121212;
    border: 1px solid #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #484848;
}
textarea{
  overflow-y: scroll;
  scrollbar-width: none;
 -ms-overflow-style: none;
  width: 55%;
  height: 200px;
  border-radius: 2px;
  resize: none;
  background-color: #121212;
  border: 1px solid #ffffff;
  color: #88A1C7FF;
  text-align: center;
  margin-top: 5px;
}
span.slive{
    cursor: pointer;
    display: inline-block;
    background-color: #121212;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: background-color 0.3s;
    border-right: none;
}
span.sdead{
    cursor: pointer;
    display: inline-block;
    background-color: #121212;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: background-color 0.3s;
    border-left: none;
}
span.slive:hover, span.sdead:hover {
    background-color: #484848;
}
.tab-content {
    margin-top: 0px;
    width: 100%;
    display: none;
    padding-bottom: 50px;
    overflow: auto;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #ffffff;
    background-color: #121212;
}
.status{
    font-size: clamp(8px, 2vw, 14px);
}
.active {
    display: block;
}
.button-group {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.tab-group {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.bvlogo {
width: 15%; 
max-width: 15%; 
height: auto;
display: block;
margin-left: auto;
margin-right: auto;
filter: grayscale(100%);
}
#speedModal button {
background-color: #231CD1FF;
color: #0DF922FF;
border: 1px solid #ffffff;
padding: 10px 20px;
cursor: pointer;
font-size: 16px;
}

#speedModal button:hover {
background-color: #484848;
}
.footer {
width: 100%;
padding: 20px;
background-color: #121212;
color: #88A1C7FF;
text-align: center;
position: fixed;
left: 0;
bottom: 0;
border-top: 1px solid #ffffff; /* Optional: adds a visual separation */
}

.footer a {
color: #0DF922FF; /* Bright green for visibility and design consistency */
text-decoration: none; /* Removes underline from links */
}
.clear {
clear: both;
}
.footer a:hover {
text-decoration: underline; /* Adds underline on hover for better interaction visibility */
}
.styled-select {
width: 50%;  /* Match the width as other input elements */
padding: 8px;  /* Padding for better text visibility */
margin-top: 10px;  /* Consistent vertical spacing with other elements */
text-align: left;
background-color: #121212;  /* Dark theme background */
color: #88A1C7FF;  /* Text color that matches your theme */
border: 1px solid #ffffff;  /* White border for visibility */
border-radius: 5px;  /* Optional: rounded corners */
cursor: pointer;  /* Pointer cursor on hover */
}

.styled-select:hover {
background-color: #121212;  /* Dark grey background on hover for interactivity */
}

.styled-select:focus {
outline: none;  /* Remove default focus outline */
border-color: #ffffff;  /* Bright green border on focus for visibility */
}
/* Basic styles and animation setup */
#loadingScreen {
position: fixed; /* Covers the whole screen without scrolling */
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #121212; /* Change background color as needed */
display: flex;
justify-content: center;
align-items: center;
flex-direction: column; /* Stacks children elements vertically */
z-index: 9999; /* Ensures it stays on top */
}

#logo {
filter: grayscale(100%); /* Makes the logo black and white */
max-width: 120px; /* Adjust size as needed */
height: auto;
margin-bottom: 20px;

}

#loadingBar {
width: 50%;
height: 10px;
background-color: #121212;
border: 1px solid #ffffff;  /* White border for visibility */
animation: load 3s ease-in-out forwards;
}

@keyframes load {
from { width: 0; }
to { width: 50%; }
}

#content {
animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
from { opacity: .5; }
to { opacity: 1; }
}
@media (max-width: 768px) {
.styled-select {
    width: 70%;  /* Wider select box on smaller screens for easier interaction */
}
}
@media (min-width: 768px) {
body {
    font-size: 16px;
}
.container {
    width: 80%; /* Ideal for tablets */
}
}

@media (min-width: 992px) {
.container {
    width: 70%; /* Ideal for small desktops */
}
}

@media (min-width: 1200px) {
.container {
    width: 60%; /* Ideal for large desktops */
}
}